@import "tailwindcss";

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/SourceCodePro-VariableFont_wght.ttf")
    format("truetype");
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
}
* {
  font-family: "Source Code Pro";
}
:root {
  --red: #d62929;
  --white: white;
  --mascara_personas: linear-gradient(to bottom, black 80%, transparent 90%);
  --circulo_equipo: radial-gradient(
    circle_at_center,
    white_60%,
    transparent_100%
  );
}
