---

---

<h1 class="text-(--red) mt-[7vh] text-center text-2xl md:text-6xl font-bold">IDEOLOGÍA</h1>
<div class="text-justify md:text-xl">
  <p class="mt-5">
    Progreso, Oportunidad y Avance (PROA) representa un proyecto político
    arraigado en los valores del socialismo democrático y en los principios
    constitucionales de justicia social, libertad e igualdad.
  </p>
  <p class="mt-5">
    Nuestro compromiso con España se basa en una idea clave: la democracia no se
    limita a un conjunto de normas e instituciones, sino que implica un esfuerzo
    constante por modernizar la sociedad y garantizar el bienestar colectivo: en
    los últimos años, marcados por una pandemia mundial, una grave crisis
    energética y una guerra en Europa, hemos demostrado que la respuesta
    progresista se basa en la estabilidad, la solidaridad y la búsqueda de
    soluciones reales para proteger a las familias, los trabajadores y los
    sectores productivos.
  </p>
  <p class="mt-5">
    Siguiendo nuestro pensamiento la línea de la familia socialdemócrata
    europea, en PROA trabajamos por una España justa, libre, sostenible y
    democrática plenamente integrada en una Europa solidaria.
  </p>
  <p class="mt-5">
    Frente a las fuerzas conservadoras que pretenden frenar los avances sociales
    y abrir las instituciones a la ultraderecha, defendemos con firmeza una
    agenda de progreso, oponiéndonos a todo intento de retroceder en igualdad,
    derechos laborales, justicia social o compromiso medioambiental.
  </p>
  <p class="mt-5">
    En PROA creemos que sólo se puede hacer política escuchando a la ciudadanía
    y construyendo de su mano, y asumimos que el rumbo de España sólo puede
    marcarlo su gente. Tu voz, nuestro rumbo no es sólo un lema: es nuestra
    esencia y la brújula que se encargará de guiar todas y cada una de nuestras
    decisiones.
  </p>
</div>
