---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/header/Nav.astro";
import Proyecto from "../components/sections/Proyecto.astro";
---

<Layout>
    <header>
        <Nav/>
    </header>
    <main class="px-[10vw] md:px-[20vw] py-5 flex flex-col">
        <Proyecto>
        <a href="/" class="text-(--red) underline m-auto">Volver</a>
    </main>
</Layout>