---

---

<div class="flex mt-[5vh] bg-(--red)">
  <div class="p-6 lg:p-4 w-2/3 flex justify-start">
    <img
      class="w-2/4 md:w-1/4 xl:w-1/5 2xl:w-1/6"
      src="/Logos/Logo-blanco.svg"
      alt="Logotipo del partido politico PROA"
    />
    <div class="ml-4 w-2/4 lg:w-1/4 flex">
        <p class="text-white m-auto text-sm md:text-lg 2xl:text-2xl leading-none">Progreso, Oportunidad y Avance</p>
    </div>
  </div>
  <div class="w-1/3 p-6 lg:p-4">
    <img class="w-3/4 md:w-1/3 2xl:w-1/5 ml-auto" src="/Logos/LOGO-POLITICOM-VECTOR-BLANCO.svg" alt="Logotipo Politicom Universidad de Sevilla">
  </div>
</div>
