<nav class="bg-white h-[5vh] fixed top-0 w-full z-120">
<ul
    class="font-bold text-center h-full w-full text-sm md:text-lg text-(--red) list-none flex items-center"
  >
    <a
      href="/#novedades"
      class="flex-1 h-full flex items-center justify-center hover:bg-(--red) hover:text-white ease-in duration-100 p-2"
      ><li>NOVEDADES</li></a
    >
    <a
      href="/#equipo"
      class="flex-1 h-full flex items-center justify-center hover:bg-(--red) hover:text-white ease-in duration-100 p-2"
      ><li>EQUIPO</li></a
    >
    <a
      href="/proyecto-electoral"
      class="flex-1 h-full flex items-center justify-center hover:bg-(--red) hover:text-white ease-in duration-100 p-2"
      ><li>PROYECTO</li></a
    >
    <a
      href="/#contacto"
      class="flex-1 h-full flex items-center justify-center hover:bg-(--red) hover:text-white ease-in duration-100 p-2"
      ><li>CONTACTO</li></a
    >
  </ul>
</nav>
