---

---
<form id="contacto" class="h-[40dvh] lg:h-[60vh] bg-linear-to-b from-(--red) to-2% text-xs grid grid-cols-4 grid-rows-5 gap-1 p-5 justify-items-center items-start">
    <h2 class="font-extrabold text-(--red) text-center text-4xl 2xl:text-6xl col-span-4 col-start-1 row-start-1">CONTACTO</h2>
    <input type="text" class="rounded p-2 w-full col-start-1 row-start-2 border border-(--red)" placeholder="Nombre" name="nombre" required>
    <input type="text" class="rounded p-2 w-full col-start-2 row-start-2 border border-(--red)" placeholder="Apellidos" name="apellidos" required>
    <input class="rounded p-2 w-full col-span-2 col-start-1 row-start-3 border border-(--red)" placeholder="Correo electrónico" name="email" required type="email">
    <input class="rounded p-2 w-full col-span-2 col-start-1 row-start-4 border border-(--red)" placeholder="Código postal" type="text" name="codigo_postal" required>
    <textarea class="rounded p-2 w-full col-span-2 row-span-4 col-start-3 row-start-2 border border-(--red) self-stretch" name="mensaje" required placeholder="Mensaje"></textarea>
    <input class="col-span-2 row-start-5 bg-(--red) hover:bg-red-300 px-3 py-2 text-white font-bold rounded-lg" type="submit" value="Enviar">
</form>